* { 
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.main { 
    width: 100%;
   
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right,#9c27b0,#8ecdff);
   padding-bottom: 5%;
}

nav { 
    width: 90%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
    font-size: 128%;
}

.logo { 
    flex-basis: 10%;
    
    
}

.logo img { 
    width: 160px;
    
}

.nav-links { 
    flex: 1;
    text-align: center;
}

.nav-links ul li { 
    list-style: none;
    display: inline-block;
    margin: 0 20px;

}

.nav-links ul li a{ 
    color: #fff;
    text-decoration: none;
    
}

.nav-links ul li a::after { 
    content: '';
    width: 0%;
    height: 3.5px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
    
}

.nav-links ul li a:hover::after { 
    width: 100%;


}

h5 { 
    font-family: "Open Sans","Noto Kufi Arabic","Arial",sans-serif;
    font-size: 17px;
    line-height: 1;
    letter-spacing: normal;
}
.footer-copyright { 
    color: rgb(204, 204, 204);
    text-align: center;
    width: 90%;
    position: absolute;
    bottom: 0;
    padding-left: 4%;

     
}

hr { 
    margin-left: 15%; 
  
  }
  .hr {
    color: #a9a9a9;
    opacity: 0.3;
    }

h2{
    padding-left: 71%;


}

button {
    width: 20%;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 5px; 
    border: none;
    background: #1c87c9; 
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding-left: 10%;
    }